/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.div-logo {
    justify-content: center;
    display: flex; /* Asegura que el logo se comporte correctamente dentro de flexbox */
    align-items: center; /* Centra el contenido del logo verticalmente */
    margin: 0;
}

.card-logo {
    width: 100px;
    justify-content: center;
    height: auto;
}

.card_title {
    text-align: left;
    color: white;
    font-weight: 900; /* Peso de la fuente */
    font-size: 30px; /* Tamaño de la fuente */
    font-family: "Major Mono Display", serif;
}

/* Barra de navegacion arriba */
.nav-links {
    background-image: -webkit-linear-gradient(90deg, #779DB8 12%, #15173c 100%);
    font-family: "Montserrat", serif;
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos a los extremos: izquierda y derecha */
    align-items: center; /* Alinea verticalmente en el centro */
    list-style: none; /* Elimina los puntos de las listas */
    padding: 15px 40px; /* Agrega espacio interno */
}


.nav-links li {
    margin: 10px 0px; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    font-family: "Montserrat", serif;
    transition: background-color 0.3s ease;
}


.nav-links a:hover {
    border: solid 5px #090f30;/* Efecto de hover */
    border-radius: 20px; /* Bordes redondeados en el hover */
}


/*responsive*/
@media(max-width: 767px){
    .div-logo {
        justify-content: center;
        padding-top: 10px;
        height: 50px;
    }

    .card_title {
        text-align: center;
        color: white;
        font-size: 20px; /* Tamaño de la fuente */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        gap: 3px;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 3px 0px;
        padding: 0px 20px;
    }

    .nav-links a {
        display: flex;
        font-size: 17px;
        justify-content: center;
        width: 100%;
        padding: 5px 20px;
    }
}


/* Reponsive */
@media(max-width: 574px){
    /* Ajustes para la barra de navegación */
    .div-logo {
        height: 20px;
        padding-bottom: 25px;
    }


    .card_title {
        text-align: center;
        color: white;
        font-size: 18px; /* Tamaño de la fuente */
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 8px;
        gap: 3px;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 3px 0px;
        padding: 0px 20px;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        padding: 5px 20px;
    }
}




