/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(90deg, #090f30,#000000,#190631);
    background: linear-gradient(90deg, #090f30,#000000,#190631); 
    line-height: 1.6; /* Espaciado entre líneas */
}

/* Navegación */
.header {
    background-image: url('../assets/imagenes/backgound.webp'); /* Ruta de la imagen */
    background-size: cover; /* Escala la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    height: 100vh; /* significa que el header abarcaría el 100% de la altura de la ventana gráfica del navegador. */ 
}


.div-logo {
    display: flex; /* Asegura que el logo se comporte correctamente dentro de flexbox */
    align-items: center; /* Centra el contenido del logo verticalmente */
}

.card-logo {
    width: 100px;
    height: 100px;
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.card-logo:hover {
    transform: translateZ(6px) rotateX(360deg) rotateY(50deg);
}

.card_title {
    color: white;
    position: absolute;
    margin: 0;
    top: 50%;
    /*right: 10px;*/
    transform: translateY(-50%);
    transition: transform .5s;
    font: 900 1.5rem monospace;
    font-family: "Major Mono Display", serif;
}

.card-logo:hover .card_title {
    transform: translateZ(50px);
}

/* Barra de navegacion arriba */
.nav-links {
    background-image: -webkit-linear-gradient(90deg, #779DB8 12%, #15173c 100%);
    font-family: "Montserrat", serif;
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos a los extremos: izquierda y derecha */
    align-items: center; /* Alinea verticalmente en el centro */
    list-style: none; /* Elimina los puntos de las listas */
    /* background-image: -webkit-linear-gradient(90deg, #6D93B6 30%, #0c457d 100%); */
    padding: 10px 20px; /* Agrega espacio interno */
}

.nav-links li {
    /* background-image: -webkit-linear-gradient(90deg, #6D93B6 30%, #0c457d 100%); */
    margin: 0 10px; /* Agrega separación horizontal entre los enlaces */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    font-family: "Montserrat", serif;
    transition: background-color 0.3s ease;
}


.nav-links a:hover {
    border: solid 5px #190631;/* Efecto de hover */
    border-radius: 20px; /* Bordes redondeados en el hover */
}


/* Pagina de Galeria */
.header-gallery {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}


.main-gallery {
    max-width: 1200px;
    background-color: #ffffff; 
    /* background: -webkit-linear-gradient(90deg, #090f30,#000000,#190631);
    background: linear-gradient(90deg, #090f30,#000000,#190631);  */
    flex: 1; /* Asegura que el main ocupe el espacio disponible */
    padding: 0px;
}


.main-gallery div {
    /* background-color: #00fc3f; */
    color: #ffffff;
    padding: 30px;
    /* left: 40px; */
    text-align: center;
}

.main-gallery div h1 {
    background: -webkit-linear-gradient(90deg, #090f30,#000000,#190631);
    background: linear-gradient(90deg, #090f30,#000000,#190631); 
    /* background-color: blue; */
    border-radius: 40px;
    margin: 0px 200px;
    padding: 20px;
    font-size: 30px;
    font-family: "Montserrat", serif;
}

.gallery-grid {
    /* background-color: #ac2828; */
    display: grid;
    gap: 20px; /* Espacio uniforme entre elementos */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas responsive */
    padding: 30px 30px;
    object-fit: contain;
    margin: auto;
    list-style-type: none;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /*overflow: hidden; /* Previene que la imagen expandida afecte el layout */
}

.gallery-item img { 
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
} 

.gallery-item:hover img {
    transform: scale(1.1);
} 


/* Footer */
.container{
	max-width: 1170px; /* Ajusta el ancho máximo del contenido, el contenido no puede ser mas ancho que esto */
	margin: auto;
}

.row{
	display: flex;
	/* flex-wrap: wrap; */
    justify-content: space-around;
}

.footer{
    font-family: "Montserrat", serif;
	background-color: #15173c;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Asegura que el footer se quede al final del contenido */
}

.footer-col{
    width: 25%; 
    padding: 0 15px;
    align-items: center;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    display: inline-block; /* Asegura que el pseudo-elemento se ajuste al ancho del texto */
}


.footer-col h4::before{
	content: '';
	position: absolute;
    left: 50%; /* Centra el pseudo-elemento horizontalmente */
	bottom: -10px; 
	background-color: #e8702a;
	height: 2px;
	box-sizing: border-box;
	width: 80px; /* Ajusta el ancho del pseudo-elemento */
    transform: translateX(-50%); /* Centra el pseudo-elemento horizontalmente */
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}


.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
        .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }


    /* Ajustes para la barra de navegación */
    .nav-links {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }

    .div-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .card-logo {
        margin: 0;
        left: 0;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 7px;
    }


    .gallery-grid {
        padding: 5px;
    }

    .gallery-item img {
        width: 300px; 
        height: 300px;
        /* object-fit: cover; */
    }

    .main-gallery div h1 {
        text-align: center;
        font-size: 25px;
        margin: 20px
    }
}

@media(max-width: 574px){
        .footer-col{
        width: 100%;
    }

    .main-gallery {
        padding: 5px;
    }
    
    .main-grid {
        padding: 0px 10px;
    }

    .gallery-grid {
        padding: 5px;
    }

    .gallery-item img {
        height: 200px;
    }
    
    .gallery-item:hover img {
        transform: scale(1.29); /* Menos zoom en móviles */
    }
}


/* Ajustes para el header y nav en versión móvil */
@media (max-width: 480px) {
    /* Ajustes para la barra de navegación */
    .nav-links {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }

    .div-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .card-logo {
        margin: 0;
        left: 0;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .nav-links a {
        display: block;
        width: 100%;
        padding: 10px;
    }

    /* Ajustes para el contenido del header */
    .head-content {
        margin: 40px 15px 0px;
        text-align: center;
    }

    .head-content div h1 {
        font-size: 35px; /* Reducimos el tamaño del título */
    }

    .head-content div p {
        font-size: 16px; /* Reducimos el tamaño del párrafo */
    }

    /* Ajuste del botón */
    .head-content div a {
        display: inline-block;
        top: 30px;
    }

    .btn-primary {
        top: 30px;
        display: inline-block;
        width: 100%;
        text-align: center;
        max-width: 250px;
    }
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
    .head-content div h1 {
        font-size: 28px;
    }

    .head-content div p {
        font-size: 14px;
    }

    .card_title {
        font-size: 1.2rem;
    }

    /* Ajustamos el padding y márgenes */
    .nav-links {
        padding: 5px;
    }

    .nav-links a {
        font-size: 16px;
        padding: 8px;
    }

    .head-content {
        margin: 30px 10px 0px;
    }
}