/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    line-height: 1.6; /* Espaciado entre líneas */
}

/* Navegación */
.header {
    background-image: url('../assets/imagenes/backgound.webp'); /* Ruta de la imagen */
    background-size: cover; /* Escala la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    height: 100vh; /* significa que el header abarcaría el 100% de la altura de la ventana gráfica del navegador. */ 
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #ffffff);
}


.div-logo {
    display: flex; /* Asegura que el logo se comporte correctamente dentro de flexbox */
    justify-content: center;
    align-items: center; /* Centra el contenido del logo verticalmente */
    margin: 0;
}

.card-logo {
    width: 100px;
    height: 100px;
    /* margin: 0px 0px; */
    position: relative;
    /* transform-style: preserve-3d; */
    /* will-change: transform;
    transition: transform .5s; */
}

/* .card-logo:hover {
    transform: translateZ(6px) rotateX(360deg) rotateY(50deg);
} */

.card_title {
    text-align: center;
    color: white;
    position: absolute;
    margin: 0;
    /* top: 50%;
    right: 10px; */
    /* transform: translateY(-50%);
    transition: transform .5s; */
    font-weight: 900; /* Peso de la fuente */
    font-size: 30px; /* Tamaño de la fuente */
    font-family: "Major Mono Display", serif;
}

.card-logo:hover .card_title {
    transform: translateZ(50px);
}

/* Barra de navegacion arriba */
.nav-links {
    background-image: -webkit-linear-gradient(90deg, #779DB8 12%, #15173c 100%);
    font-family: "Montserrat", serif;
    display: flex; /* Activa Flexbox */
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos a los extremos: izquierda y derecha */
    align-items: center; /* Alinea verticalmente en el centro */
    list-style: none; /* Elimina los puntos de las listas */
    /* background-image: -webkit-linear-gradient(90deg, #6D93B6 30%, #0c457d 100%); */
    padding: 15px 40px; /* Agrega espacio interno */
}

.nav::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #ffffff);
}

.nav-links li {
    margin: 10px 0px; 
}



.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    font-family: "Montserrat", serif;
    transition: background-color 0.3s ease;
}


.nav-links a:hover {
    border: solid 5px #004e89;/* Efecto de hover */
    border-radius: 20px; /* Bordes redondeados en el hover */
}


.head-content {
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
    flex-wrap: wrap; /* Asegura que los elementos se ajusten al ancho del contenedor */
    justify-content: center; /* Alinea el contenido al centro verticalmente. */
    /*align-items: center; /* Alinea el contenido al centro horizontalmente. */
    margin: 50px 30px 40px; /* Ajusta el margen */
    color: #e8702a;
    position: relative;
}

.head-content div {
    padding: 30px;
}


.head-content div h1 {
    font-family: "Bebas Neue", serif;
    font-weight: 700;
    font-size: 70px;
    font-style: normal;
}

.head-content div p {
    font-size: 25px;
    font-family: "Oswald", serif;
    margin-top: 0;
}

.head-content div a {
    position: relative;
    top: 20px;
    font-size: 20px;
    font-family: "Montserrat", serif;
    margin-top: 0;
}

.btn-primary {
    font-family: "Montserrat", serif;
    position: relative;
    /* top: 50px; */
    text-decoration: none;
    padding-top: 20px;
    color: white;
    background-color: #15173c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
    transition: background-color 0.3s;
}


/**Aca Inicia la seccion del MAIN**/
.index-main {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center; /* Distribuye el espacio entre los elementos */
    align-items: center;
    padding: 50px;
    gap: 10px; /* Espacio entre los contenedores */
}


/* Contenedor de la imagen */
.image-conteiner {
    flex: 1; /* Toma el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 20px;
    max-width:100%; /* Limita el ancho del contenedor de la imagen */
    order: 1;
}



/* Contenedor del texto */
.index-conteiner {
    flex: 1; /* Toma el espacio disponible */
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 50%; /* Limita el ancho del contenedor de texto */
    order: 2;
}

.image-conteiner img {
    width: 100%; /* La imagen se ajusta al contenedor */
    height: auto; /* Mantiene la proporción */
    max-width: 400px; /* Tamaño máximo de la imagen */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    border-radius: 40px;
}

/* Estilos para el título y párrafo (los mantenemos igual) */
.index-conteiner h2 {
    font-size: 27px;
    font-family: "Montserrat", serif;
    color: #181a4a;
    text-align: center;
    margin-bottom: 10px;
}

.index-conteiner p {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}


/* Footer */
.container {
	max-width: 1170px; /* Ajusta el ancho máximo del contenido, el contenido no puede ser mas ancho que esto */
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    font-family: "Montserrat", serif;
	background-color: #15173c;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Asegura que el footer se quede al final del contenido */
}

.footer-col{
    width: 25%; 
    padding: 0 15px;
    align-items: center;
}

.footer-col ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    display: inline-block; /* Asegura que el pseudo-elemento se ajuste al ancho del texto */
}


.footer-col h4::before{
	content: '';
	position: absolute;
    left: 50%; /* Centra el pseudo-elemento horizontalmente */
	bottom: -10px; 
	background-color: #e8702a;
	height: 2px;
	/* box-sizing: border-box; */
	width: 80px; /* Ajusta el ancho del pseudo-elemento */
    transform: translateX(-50%); /* Centra el pseudo-elemento horizontalmente */
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}


.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    .index-main {
        flex-direction: column;
        gap: 20px;
    }

    .index-conteiner,
    .image-conteiner {
        max-width: 100%;
    }

    .nav-links {
        flex-direction: column;
        padding: 1px;
        gap: 0px;
    }

    .div-logo {
        width: 100%;
    }

    .card-logo {
        margin: 30px 0px 0px;
        padding: auto;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
        padding: 0px 20px;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }
}




@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }

    /* Ajustes para la barra de navegación */
    .nav-links {
        display: flex;
        flex-direction: column;
        padding: 1px;
        gap: 3px;
    }

    .div-logo {
        width: 100%;
    }

    .card-logo {
        margin: 30px 0px 0px;
        padding: auto;
    }

    /* Lista de navegación */
    .nav-links li {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
        padding: 0px 20px;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }

    /* Ajustes para el contenido del header */
    .head-content {
        margin: 40px 15px 0px;
        text-align: center;
    }

    .head-content div h1 {
        font-size: 35px; /* Reducimos el tamaño del título */
    }

    .head-content div p {
        font-size: 16px; /* Reducimos el tamaño del párrafo */
    }

    /* Ajuste del botón */
    .head-content div a {
        display: inline-block;
        top: 30px;
    }


    .btn-primary {
        top: 20px;
        display: inline-block;
        width: 100%;
        font-size: 8px;
        text-align: center;
        max-width: 150px;
    }
}



/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 574px) {
    .head-content div h1 {
        font-size: 28px;
    }

    .head-content div p {
        font-size: 14px;
    }

    .card_title {
        font-size: 1.2rem;
    }

    /* Ajustamos el padding y márgenes */
    .nav-links {
        padding: 5px;
    }

    .nav-links a {
        font-size: 16px;
        padding: 8px;
    }

    .head-content {
        margin: 30px 10px 0px;
    }

    .div-logo {
        width: 100%;
        justify-content: center;
        margin-bottom: auto;
    }
}