/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/imagenes/backgound.webp'); /* Ruta de la imagen */
    background-size: cover; /* Escala la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /*background-image: -webkit-linear-gradient(90deg, #0077b6 0%, #00b4d8 100%);*/
    /* line-height: 1.6; /* Espaciado entre líneas */
}

/* Navegación */
.header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
    height: 100vh; /* significa que el header abarcaría el 100% de la altura de la ventana gráfica del navegador. */ 
}


.div-logo {
    display: flex; /* Asegura que el logo se comporte correctamente dentro de flexbox */
    align-items: center; /* Centra el contenido del logo verticalmente */
}

.card-logo {
    width: 100px;
    height: 100px;
    margin: 0 3rem;
    position: relative;
    left: 1rem;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.card-logo:hover {
    transform: translateZ(6px) rotateX(360deg) rotateY(50deg);
}

.card_title {
    color: #ffffff;
    position: absolute;
    margin: 0;
    top: 50%;
    /*right: 10px;*/
    transform: translateY(-50%);
    transition: transform .5s;
    font: 700 1.5rem monospace;
    font-family: "Major Mono Display", serif;
}

.card-logo:hover .card_title {
    transform: translateZ(50px);
}

/* Barra de navegacion arriba */
.nav-links {
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Distribuye los elementos a los extremos: izquierda y derecha */
    align-items: center; /* Alinea verticalmente en el centro */
    list-style: none; /* Elimina los puntos de las listas */
    background-image: -webkit-linear-gradient(90deg, #6189AE 30%, #1a659e 100%);
    padding: 10px 20px; /* Agrega espacio interno */
}

.nav-links li {
    margin: 0 10px; /* Agrega separación horizontal entre los enlaces */
}



.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    transition: background-color 0.3s ease;
}


.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto de hover */
    border-radius: 5px; /* Bordes redondeados en el hover */
}

.head-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    color: #ff6b35;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

/* Galería de Imágenes */
.header-gallery {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}


.gallery-section {
    background-color: #ff6b35;
    /* padding-right: 2rem; */
}

.gallery-grid {
    display: Grid;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    /* overflow: hidden; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    /* display: block; */
}

.gallery-item:hover img {
    transform: scale(1.1);
    transition: transform 0.5s;
}


/* Footer */
.footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #011638;
    color: white;
    text-align: center;
    padding: 10px 0;
}
